* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  max-height: 100%;
}

body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 1em;
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
  line-height: 1;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper .menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: rgba(51, 51, 51, 0.98);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.wrapper .menu .icon {
  color: #fff;
  font-size: 18px;
}

.wrapper .overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-color: #333;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper .main {
  font-weight: 100;
  text-align: center;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  width: calc(100% - 120px);
}

.wrapper .main .inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 620px;
  margin: 0 auto;
}

.wrapper .main .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 120px;
    height: 120px; */
  width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #FFF;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: .2em;
  background-color: #FFF;
}

.wrapper .main .avatar .avatar-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  vertical-align: top;
}

.wrapper .main .name {
  margin: 0 0 5px 0;
  font-size: 2.5em;
  letter-spacing: 4px;
  color: #FFF;
  line-height: 1.2em;
  font-weight: lighter;
}

.wrapper .main .subtitle {
  font-size: 1.2em;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #CCCCCC;
}

.wrapper .main .divider {
  width: 50%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
}

.wrapper .main .divider.short {
  width: 15%;
}

.wrapper .main .description {
  margin: 0 30px;
  line-height: 1.7em;
}

.wrapper .main .navigation-wrapper .cover-navigation {
  margin-top: 42px;
  display: inline-block;
  position: relative;
}

.wrapper .main .navigation-wrapper .cover-navigation .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  list-style-type: none;
}

.wrapper .main .navigation-wrapper .cover-navigation .navigation .navigation-item {
  /* line-height: 1em; */
  margin: 0 4px;
}

.wrapper .main .navigation-wrapper .cover-navigation .navigation .navigation-item .navigation-link {
  display: block;
  position: relative;
  color: #FFF;
  opacity: .8;
  padding: 10px 20px;
  border: 1px solid #FFF;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  text-decoration: none;
}

.wrapper .main .navigation-wrapper .cover-navigation .navigation .navigation-item .navigation-link.icon-link {
  border: 0px;
  padding: 6px 8px;
}

.wrapper .main .navigation-wrapper .cover-navigation.social .navigation .navigation-item .navigation-link.icon-link .icon {
  font-size: 26px;
}

@media (max-width: 1100px) {
  .wrapper .main .avatar {
    width: 70px;
    height: 70px;
  }

  .wrapper .main .name {
    font-size: 1.8em;
  }

  .wrapper .main .subtitle {
    font-size: 1em;
  }

  .wrapper .main .description {
    margin: 0 10px;
    font-size: .9em;
  }

  .wrapper .main .navigation-wrapper .cover-navigation.social {
    margin-top: 5px;
  }

  .wrapper .main .navigation-wrapper .cover-navigation.social .navigation .navigation-item .navigation-link.icon-link .icon {
    font-size: 22px;
  }
}

@media (max-width: 960px) {
  .wrapper .main {
    width: 80%;
  }

  .wrapper .main .description {
    max-width: 600px;
    margin: 0 auto;
  }

  .wrapper .main .divider.short {
    display: none;
  }

  .wrapper .menu {
    display: flex;
  }

  .wrapper .main .navigation-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgba(51, 51, 51, 0.98);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .wrapper .main .navigation-wrapper.visible {
    display: block;
  }

  .wrapper .main .navigation-wrapper .cover-navigation {
    display: block;
    width: 100%;
  }

  .wrapper .main .navigation-wrapper .cover-navigation .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wrapper .main .navigation-wrapper .cover-navigation .navigation .navigation-item {
    width: 80%;
    margin: 0 auto .4em;
  }

  .wrapper .main .navigation-wrapper .cover-navigation.social .navigation {
    /* width: 80%; */
    margin: 0 auto;
    display: block;
    /* flex-direction: row; */
  }

  .wrapper .main .navigation-wrapper .cover-navigation.social .navigation .navigation-item {
    display: inline-block;
    width: 25.8%;
  }
}

@media (max-width: 340px) {
  .wrapper .main .navigation-wrapper .cover-navigation .navigation .navigation-item {
    margin-bottom: .8em;
  }
}

.wrapper .footer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper .footer .link {
  color: #666;
}

.wrapper .footer .copyright {
  margin-top: 20px;
}

/* .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 900;
    width: 100%;
    max-width: none;
    height: 100%;
    background: url('../image/bg.jpg') center center no-repeat rgb(102, 102, 102);
    background-size: cover;
}

.wrapper .overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: .55;
} */